.page {
    margin-top: 64px;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.form {
    grid-column-start: 2;
    width: 620px;
    display: flex;
    flex-direction: column;
}

.subtitles {
    font-size: 24px;
    color: #E4E6EB;
}

.ticketName {
    border: 0;
    font-size: 36px;
    font-weight: bold;
    color: #E4E6EB;
    text-align:center;
    background-color: #242526;
}

.description {
    border: 0;
    height: 200px;
    font-size: 18px;
    resize: none;
    color: #B0B3B8;
    background-color: #242526;
}

.submitbutton {
    margin: 20px;
    color: #E4E6EB;
    width: 175px;
    height: auto;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #3a3b3c;
    box-shadow: 0px 0px 20px -20px rgba(0, 0, 0, 0.5);
    align-self: center;
    cursor: pointer;
    background-color: #006756;
    transition: all 0.2s ease-in-out 0ms;
    user-select: none;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.submitbutton:hover {
    background-color: #005a4d;
    box-shadow: 0px 0px 20px -18px rgba(0, 0, 0, 0.5);
}

.submitbutton:active {
    transform: scale(0.95);
}