/**
 background colour: #18191A
 secondary colour: #242526
 text colour: #E4E6EB
 secondary text colour: #B0B3B8
 accent colour: #8454D2
 */


.body{
  background-color: #18191A;
  justify-content: flex-start;
  align-items: normal;
  display: flex;
  height: 100vh;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.title{
  margin: 20px;
  padding: 0;
  color: #E4E6EB;
  font-size: 64px;
}

.ticketContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.ticketCard{
  width: 500px;
  border-radius: 4px;
  background-color: #242526;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.ticketTitle{
  color: #E4E6EB;
  font-size: 24px;
  margin: 10px;
}

.ticketDescription{
  color: #B0B3B8;
  font-size: 16px;
  margin: 10px;
  display: flex;
}

.sidebar{
  background-color: #242526;
  width: 60px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
}

.image{
  width: 45px;
  height: 45px;
  align-self: center;
  margin: 0 8px 10px 7px;
  border-radius: 100%;
}