body {
    display: flex;
    justify-content: center;
}

.container {
    font-family: 'Poppins', sans-serif;
    color: #E4E6EB;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 20px 20px 20px;
}

.title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
}

.metadataContainer {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-bottom: 20px;
    padding: 0 20px;
}

.metadataLabel {
    font-weight: bold;
    margin-right: 10px;
    font-size: 18px;
}

.metadataValue {
    font-size: 18px;
}

.divider {
    border: 1px solid #ccc;
    margin: 20px 0;
}

.descriptionContainer {
    font-size: 18px;
    padding: 0 20px;
}

.descriptionText {
    font-size: 16px;
    margin-top: 10px;
    text-align: justify;
}

.errorMessage {
    font-family: 'Poppins', sans-serif;
    color: #E4E6EB;
    padding: 20px;
}