.outerContainer {
    background-color: #18191A;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}
.container {
    font-family: 'Poppins', sans-serif;
    color: #E4E6EB;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 20px 20px 20px;
    grid-column-start: 2;
    grid-row-start: 1;
    margin-top: 25px;
}

.title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
}

.metadataContainer {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-bottom: 20px;
    padding: 0 20px;
}

.metadataLabel {
    font-weight: bold;
    margin-right: 10px;
    font-size: 18px;
}

.metadataValue {
    font-size: 18px;
}

.divider {
    border: 1px solid #ccc;
    margin: 20px 0;
}

.descriptionContainer {
    font-size: 18px;
    padding: 0 20px;
}

.descriptionText {
    font-size: 16px;
    margin-top: 10px;
    text-align: justify;
}

.errorMessage {
    font-family: 'Poppins', sans-serif;
    color: #E4E6EB;
    padding: 20px;
}

.ticketContainer{
    display: grid;
}

.buttonContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 600px;
    height: 45px;
}

.editButton{
    justify-self: center;
    align-self: center;
    grid-row: 1;
    grid-column: 2;
    color: #E4E6EB;
    width: auto;
    height: 45px;
    padding: 2px 20px;
    border-radius: 8px;
    border: 1px solid #3a3b3c;
    box-shadow: 0px 0px 20px -20px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    background-color: #006756;
    transition: all 0.2s ease-in-out 0ms;
    user-select: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;   
 }

 .completeButton{
    justify-self: end;
    align-self: center;
    grid-row: 1;
    grid-column: 3;
    color: #E4E6EB;
    width: auto;
    height: 45px;
    padding: 2px 20px;
    border-radius: 8px;
    border: 1px solid #3a3b3c;
    box-shadow: 0px 0px 20px -20px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    background-color: #D12158;
    transition: all 0.2s ease-in-out 0ms;
    user-select: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
 }

 .contactButton{
    justify-self: start;
    align-self: center;
    grid-row: 1;
    grid-column: 1;
    color: #E4E6EB;
    width: auto;
    height: 45px;
    padding: 2px 20px;
    border-radius: 8px;
    border: 1px solid #3a3b3c;
    box-shadow: 0px 0px 20px -20px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    background-color: #006756;
    transition: all 0.2s ease-in-out 0ms;
    user-select: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;   
 }

 .contactButton:hover, .editButton:hover{
    background-color: #005a4d;
    box-shadow: 0px 0px 20px -18px rgba(0, 0, 0, 0.5);
 }

 .completeButton:hover{
    background-color: #B11A4A;
    box-shadow: 0px 0px 20px -18px rgba(0, 0, 0, 0.5);
 }

.editButton:active, .contactButton:active, .completeButton:active{
    transform: scale(0.95);
}