.popup-content{
  height: 100%;
  width: 100%;
  background-color: #18191a00;
  border: 0px;
  align-items: center;
  justify-content: center;
  display: flex;
}

body {
  background-color: #18191A;
  /* Your desired color */
}