.container {
    margin-top: 84px;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 50px;
}

.editableFields {
    grid-column-start: 2;
    max-width: 600px;
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-rows: auto auto auto auto auto auto auto;
    row-gap: 20px;
    column-gap: 20px;
}

.passwordSection {
    grid-column-start: 1;
    grid-column-end: 3;
}
.resetPrompt {
    color: #B0B3B8;
    font-size: 28px;
    margin-top: 40px;
    margin-bottom: 0;
}

.profilePicture {
    width: 256px;
    height: 256px;
    border-radius: 100%;
    margin: auto auto;
    display: block;
    justify-self: center;
}

.formnames {
    color: #E4E6EB;
    align-self: center;
    font-size: 24px;
}

.input {
    width: 300px;
    height: 45px;
    padding: 8px;
    border-radius: 4px;
    border: 0;
    background-color: #242526;
    color: #E4E6EB;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.picinput {
    color: #B0B3B8;
    font-size: 20px;
    display: block;
    justify-self: center;
    margin: auto auto;
}

.submitButton {
    width: 100%;
    height: auto; 
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #3a3b3c;
    box-shadow: 0px 0px 20px -20px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    background-color: #006756;
    color: #E4E6EB;
    transition: all 0.2s ease-in-out 0ms;
    user-select: none;
    font-size: 24px;
}

.submitButton:hover {
    background-color: #005a4d;
    box-shadow: 0px 0px 20px -18px rgba(0, 0, 0, 0.5);
}

.cancelButton {
    width: 100%;
    margin-bottom: auto;
    color: #E4E6EB;
    height: auto;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #3a3b3c;
    box-shadow: 0px 0px 20px -20px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    background-color: #D12158;
    transition: all 0.2s ease-in-out 0ms;
    user-select: none;
    font-size: 24px;
}

.cancelButton:hover {
    background-color: #B11A4A;
    box-shadow: 0px 0px 20px -18px rgba(0, 0, 0, 0.5);
}

.submitButton:active, .cancelButton:active {
    transform: scale(0.95);
}

/**
 background colour: #18191A
 secondary colour: #242526
 text colour: #E4E6EB
 secondary text colour: #B0B3B8
 accent colour: #8454D2
 */