.body {
    background-color: #18191A;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.profilePicture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px;
}

.formnames {
    color: #B0B3B8;
    
}

/**
 background colour: #18191A
 secondary colour: #242526
 text colour: #E4E6EB
 secondary text colour: #B0B3B8
 accent colour: #8454D2
 */