.container {
    background-color: #18191A;
    width: 700px;
    margin: 20px;
    margin-top: 500px;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid #B0B3B8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    overflow: visible;
}

.profilePicture {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin: 20px;
}

.formnames {
    color: #B0B3B8;
    display: flex;
    font-size: 24px;
    margin-top: 10px;
    margin-left: 60px;
}

.input {
    width: 80%;
    height: 45px;
    padding: 8px;
    margin: 10px 60px;
    border-radius: 4px;
    border: 1px solid #B0B3B8;
    background-color: #3A3B3C;
    color: #E4E6EB;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.picinput {
    width: 40%;
    background-color:#18191A;
    border: 0;
    color: #E4E6EB;
    margin-left: 60px;
}

.passwords {
    margin-top: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/**
 background colour: #18191A
 secondary colour: #242526
 text colour: #E4E6EB
 secondary text colour: #B0B3B8
 accent colour: #8454D2
 */