.projectList{
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    height: 230px;
}

.projectCard{
    margin: 4px 2px;
    width: 300px;
    height: 100%;
    border-radius: 4px;
    display: inline-block;
    background-color: #3A3B3C;
    border: 1px solid #3a3b3c;
    box-shadow: 0px 0px 20px -20px rgba(0, 0, 0, 0.5);
    align-self: center;
    white-space: normal;
    cursor: pointer;
    transition: all 0.2s ease-in-out 0ms;
    user-select: none;
    font-family: 'Poppins', sans-serif;
}

.projectName{
    font-size: 24px;
    text-align: center;
    color: #E4E6EB;
}

.createnew{
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 100;
}

.plus {
    margin-top: 0;
    margin-bottom: 0;
}

.button {
    margin: 4px 2px 4px 4px;
    display: inline-block;
    color: #E4E6EB;
    width: 300px;
    height: 100%;
    padding: 24px;
    border-radius: 4px;
    border: 1px solid #3a3b3c;
    box-shadow: 0px 0px 20px -20px rgba(0, 0, 0, 0.5);
    align-self: center;
    white-space: normal;
    cursor: pointer;
    background-color: #006756;
    transition: all 0.2s ease-in-out 0ms;
    user-select: none;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
  }
  
.button:hover {
    background-color: #005a4d;
    box-shadow: 0px 0px 20px -18px rgba(0, 0, 0, 0.5);
}
  