.outsideContainer {
    border: 1px solid #B0B3B8;
    border-radius: 4px;
    margin:auto;
    background-color: #242526;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 0px 60px; 
}

.heading {
    margin: 40px 0 20px 0;
    padding: 0;
    color: #E4E6EB;
    font-size: 64px;
    text-align: center;
}

.text {
    margin: 0 0 40px 0;
    color: #B0B3B8;
    font-size: 20px;
}
