.page {
    margin-top: 64px;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .container {
    grid-column-start: 2;
    width: 900px;
    display: flex;
    flex-direction: column;
  }

  .horizontalLine {
    width: 100%;
  }

  .form {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .dropdown {

  }

  .dropdownInput {
    font-size: 20px;
    width: 620px;
  }

  .dropdownOptions {
    width: 640px;
  }

  .dropdownArrow {
    right: 20px;
    top: 16px;
  }
  
  .addSkill {
    margin: 40px 0px;
    font-size: 20px;
    color: #B0B3B8;
  }

  .skills {
    margin: 20px 50px;
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
  }

  .currentSkills {
    margin: 20px 0px;
    font-size: 36px;
    color: #E4E6EB;
    font-weight: bold;
    text-align: center;
  }

  .delete {
    color: #E4E6EB;
    width: 175px;
    height: auto;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #3a3b3c;
    box-shadow: 0px 0px 20px -20px rgba(0, 0, 0, 0.5);
    align-self: center;
    cursor: pointer;
    background-color: #006756;
    transition: all 0.2s ease-in-out 0ms;
    user-select: none;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
  }

  .delete:hover {
    background-color: #D12158;
    text-decoration: line-through;
  }

  .confirm {
    margin: 36px;
    color: #E4E6EB;
    width: 40%;
    height: auto;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #3a3b3c;
    box-shadow: 0px 0px 20px -20px rgba(0, 0, 0, 0.5);
    align-self: center;
    cursor: pointer;
    background-color: #006756;
    transition: all 0.2s ease-in-out 0ms;
    user-select: none;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
  }

  .add {
    color: #E4E6EB;
    width: auto;
    height: auto;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #3a3b3c;
    box-shadow: 0px 0px 20px -20px rgba(0, 0, 0, 0.5);
    align-self: center;
    cursor: pointer;
    background-color: #006756;
    transition: all 0.2s ease-in-out 0ms;
    user-select: none;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
  }

  .confirm:hover, .add:hover {
    background-color: #005a4d;
  }

  .delete:active, .confirm:active, .add:hover {
    transform: scale(0.95);
  }

  