.skillbutton {
    margin: 20px 0 5px 0;
    color: #E4E6EB;
    width: fit-content;
    height: fit-content;
    padding: 8px;
    border-radius: 50px;
    border: 0px solid #E0E1E4;
    box-shadow: 0px 0px 20px -20px;
    cursor: pointer;
    background-color: #8454D2;
    transition: all 0.2s ease-in-out 0ms;
    user-select: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
  
  .skillbutton:hover {
    background-color: #FE655C;
    box-shadow: 0px 0px 20px -18px;
    text-decoration: line-through;
  }
  
  .skillbutton:active {
    transform: scale(0.95);
  }