.ticketContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }
  
  .ticketCard{
    width: auto;
    border-radius: 4px;
    background-color: #3A3B3C;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
  }
  
  .ticketTitle{
    color: #E4E6EB;
    font-size: 24px;
    margin: 10px;
  }
  
  .ticketDescription{
    color: #B0B3B8;
    font-size: 16px;
    margin: 10px;
    display: flex;
  }