.container {
    margin-top: 64px;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.form {
    grid-column-start: 2;
    width: 800px;
}

.ticketName {
    margin-left: -2px;
    display: block;
    border: 0;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 36px;
    font-weight: bold;
    color: #E4E6EB;
    text-align:center;
    background-color: #242526;
}
.line {
    display: block;
    width: 100%;
    margin: 20px 0 5px -0.8px;
    color: #E4E6EB;
}

.descriptiontitle {
    color: #E4E6EB;
    font-weight: normal;
    margin-bottom: 10px;
}

.description {
    margin: 0 0 20px -2px;
    border: 0;
    width: 100%;
    height: 400px;
    resize: none;
    text-align: start;
    font-size: 18px;
    color: #B0B3B8;
    background-color: #242526;
}

.buttons {
    display: grid;
}

.deletebutton {
    justify-self: start;
    grid-row: 1;
    color: #E4E6EB;
    width: auto;
    height: 45px;
    padding: 2px 20px;
    border-radius: 8px;
    border: 1px solid #3a3b3c;
    box-shadow: 0px 0px 20px -20px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    background-color: #D12158;
    transition: all 0.2s ease-in-out 0ms;
    user-select: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.deletebutton:hover {
    background-color: #B11A4A;
    box-shadow: 0px 0px 20px -18px rgba(0, 0, 0, 0.5);
}

.deletebutton:active {
    transform: scale(0.95);
}

.submitbutton {
    justify-self: end;
    grid-row: 1;
    color: #E4E6EB;
    width: auto;
    height: 45px;
    padding: 2px 20px;
    border-radius: 8px;
    border: 1px solid #3a3b3c;
    box-shadow: 0px 0px 20px -20px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    background-color: #006756;
    transition: all 0.2s ease-in-out 0ms;
    user-select: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;   
}

.submitbutton:hover {
    background-color: #005a4d;
    box-shadow: 0px 0px 20px -18px rgba(0, 0, 0, 0.5);
}

.submitbutton:active {
    transform: scale(0.95);
}
/**
 background colour: #18191A
 secondary colour: #242526
 text colour: #E4E6EB
 secondary text colour: #B0B3B8
 accent colour: #006756
 delete colour: #d12158
 */

 .modal{
    width: 100%;
    height: 100%;
    background-color: #242526;
    color: #E4E6EB;
    border-radius: 10px;
 }

