/**
 background colour: #18191A
 secondary colour: #242526
 text colour: #E4E6EB
 secondary text colour: #B0B3B8
 accent colour: #006756
 */

 .topbar {
    background-color: #006756;
    width: 100vw;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: grid;
    grid-template-columns: 1fr 1fr;
 }

 .pageName {
    margin: 0 0 0 5px;
    color: #E4E6EB;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight:bold;
 }

 .buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
 }

.button {
    margin-left: 20px;
    border-radius: 100%;
    border: 0;
    width: 42px;
    height: 42px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
   background-color: #005a4d;
   box-shadow: 0px 0px 20px -18px rgba(0, 0, 0, 0.5);
}
 
.button:active {
   transform: scale(0.95);
}

.icon {
    height: 40px;
    width: 40px;
    display: block;
    margin: auto;
}
