.users {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.heading {
    color: #E4E6EB;
    font-size: 32px;
    margin: 10px 0 20px 0;
}

.textbox {
    border: 0;
    border-radius: 4px;
    width: 99%;
    height: 36px;
    margin-bottom: 10px;
    background-color: #3A3B3C;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #E4E6EB;
}

.addButton {
    margin-bottom: 20px;
    color: #E4E6EB;
    width: 100%;
    height: auto;
    padding: 4px;
    border-radius: 8px;
    border: 1px solid #3a3b3c;
    box-shadow: 0px 0px 20px -20px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    background-color: #006756;
    transition: all 0.2s ease-in-out 0ms;
    user-select: none;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
  }
  
  .addButton:hover {
    background-color: #005a4d;
    box-shadow: 0px 0px 20px -18px rgba(0, 0, 0, 0.5);
  }
  
  .addButton:active {
    transform: scale(0.95);
  }

  .subheadings {
    color: #E4E6EB;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .userCard {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #3A3B3C;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 2px;
  }

  .username {
    color: #E4E6EB;
    font-size: 18px;
    margin-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .buttons {
    display: grid;
    grid-template-columns: min-content min-content;
    align-items: center;
    justify-self: end;
    justify-items: end;
  }

  .button {
    width: 32px;
    height: 32px;
    display: flex;
    text-align: center;
    margin-right: 10px;
    background: none;
    border: 0;
    border-radius: 25%;
  }

  .button:hover {
    background-color: #242526;
  }

  .icon {
    width: 20px;
    height: 20px;
    display: block;
    margin: auto auto;
  }